<ul class="soc-links-bar fw-reset fw-flex fw-flex-middle fw-flex-left">
  <li class="soc-links-bar__item fw-block fw-ml-13"><a href="#" class="soc-link fw-reset fw-hover-bg-pale-red fw-flex fw-flex-middle fw-flex-center fw-width-35 fw-height-35 fw-border-radius-percent-50 fw-bg-color-red-light"><i class="icon-fb"></i></a></li>
  <li class="soc-links-bar__item fw-block fw-ml-13"><a href="#" class="soc-link fw-reset fw-hover-bg-pale-red fw-flex fw-flex-middle fw-flex-center fw-width-35 fw-height-35 fw-border-radius-percent-50 fw-bg-color-red-light"><i class="icon-vk"></i></a></li>
  <li class="soc-links-bar__item fw-block fw-ml-13"><a href="#" class="soc-link fw-reset fw-hover-bg-pale-red fw-flex fw-flex-middle fw-flex-center fw-width-35 fw-height-35 fw-border-radius-percent-50 fw-bg-color-red-light"><i class="icon-twitter"></i></a></li>
  <li class="soc-links-bar__item fw-block fw-ml-13"><a href="#" class="soc-link fw-reset fw-hover-bg-pale-red fw-flex fw-flex-middle fw-flex-center fw-width-35 fw-height-35 fw-border-radius-percent-50 fw-bg-color-red-light"><i class="icon-inst"></i></a></li>
</ul>