@font-face
  font-family: 'BlackDiamond'
  src: url('/fonts/BlackDiamond/BlackDiamond.ttf')
  src: url('/fonts/BlackDiamond/BlackDiamond.eot') format('embedded-opentype'), url('/fonts/BlackDiamond/BlackDiamond.woff') format('woff')

@font-face
  font-family: 'CirceBold'
  src: url('/fonts/CirceBold/CirceBold.ttf')
  src: url('/fonts/CirceBold/CirceBold.eot') format('embedded-opentype'), url('/fonts/CirceBold/CirceBold.woff') format('woff')

@font-face
  font-family: 'CirceRegular'
  src: url('/fonts/CirceRegular/CirceRegular.ttf')
  src: url('/fonts/CirceRegular/CirceRegular.eot') format('embedded-opentype'), url('/fonts/CirceRegular/CirceRegular.woff') format('woff')

@font-face
  font-family: 'CirceLight'
  src: url('/fonts/CirceLight/CirceLight.ttf')
  src: url('/fonts/CirceLight/CirceLight.eot') format('embedded-opentype'), url('/fonts/CirceLight/CirceLight.woff') format('woff')