<div class="js-popup-overlay popup-overlay">
    <div class="popup rules-popup fw-pt-60 fw-pl-60 fw-pr-60 fw-pb-30 fw-relative">
        <div class="js-popup__close-btn popup__close-btn fw-pointer"><img src="./images/close-popup.svg" alt=""></div>

        <h2 class="rules-popup__title fw-font-black-d fw-fz-65 fw-color-red fw-font-normal fw-margin-0 fw-mb-25 fw-width-1-1 fw-text-center">Правила пользования сайтом</h2>

        <div class="rules-popup__items fw-pr-30">
            <div class="rules-popup__item">
                <div class="rules-popup__item-title fw-font-circle-b fw-fz-24 fw-line-height-35 fw-mb-20 fw-letter-spacing-1">1. Общие положения</div>
                <p class="fw-font-circle-l fw-fz-17 fw-line-height-25 fw-mb-30">… (далее «Компания» или «мы») предлагает информационные услуги в сфере биржевой торговли и не предоставляет, и не предлагает никаких услуг по торговле на любых финансовых рынках. Компания оказывает услуги информационного характера, при этом не является СМИ и не нуждается в лицензировании какой-либо части предоставляемых услуг. Любые торговые и не торговые риски целиком несут пользователи сайта.</p>
                <p class="fw-font-circle-l fw-fz-17 fw-line-height-25 fw-mb-30">При использовании любых услуг компании мы можем попросить Вас предоставить личную информацию («Личная информация»), которая будет использоваться по усмотрению администрации Компании. Мы обязуемся соблюдать конфиденциальность Ваших данных, а также обеспечивать защиту данных и неприкосновенность частной жизни.</p>
                <p class="fw-font-circle-l fw-fz-17 fw-line-height-25 fw-mb-30">Поэтому мы предоставляем эту Политику конфиденциальности, чтобы помочь Вам понять, как мы собираем, используем, храним и защищаем вашу личную информацию с целью предложить Вам информационные услуги. Если Вы не понимаете этой Политики конфиденциальности или то, как мы обращаемся с или используем личную информацию, которую Вы предоставляете нам, то Вы можете направить свои вопросы на … и мы сделаем все возможное, чтобы ответить на Ваши вопросы в полном объеме в кратчайшие сроки.</p>
                <p class="fw-font-circle-l fw-fz-17 fw-line-height-25 fw-mb-30">Поэтому мы предоставляем эту Политику конфиденциальности, чтобы помочь Вам понять, как мы собираем, используем, храним и защищаем вашу личную информацию с целью предложить Вам информационные услуги. Если Вы не понимаете этой Политики конфиденциальности или то, как мы обращаемся с или используем личную информацию, которую Вы предоставляете нам, то Вы можете направить свои вопросы на … и мы сделаем все возможное, чтобы ответить на Ваши вопросы в полном объеме в кратчайшие сроки.</p>
                <p class="fw-font-circle-l fw-fz-17 fw-line-height-25 fw-mb-30">Поэтому мы предоставляем эту Политику конфиденциальности, чтобы помочь Вам понять, как мы собираем, используем, храним и защищаем вашу личную информацию с целью предложить Вам информационные услуги. Если Вы не понимаете этой Политики конфиденциальности или то, как мы обращаемся с или используем личную информацию, которую Вы предоставляете нам, то Вы можете направить свои вопросы на … и мы сделаем все возможное, чтобы ответить на Ваши вопросы в полном объеме в кратчайшие сроки.</p>
            </div>
        </div>
    </div>
</div>
